[project]
name = "med-ragnosis-a-retrieval-augmented-generation-platform-for-streamlined-medical-diagnosis"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []
