fastapi 
uvicorn 
pymongo 
python-multipart 
pypdf 
langchain 
langchain-community
langchain-core
langchain-groq 
pinecone 
langchain-openai
python-dotenv
passlib[bcrypt]
streamlit
requests
PyPDF2
tqdm
pdf2image
pytesseract
pillow
langchain-text-splitters